@page "/products"

@inject IProductEndPoint Prods

@attribute [Authorize(Roles ="Cashier") ]

<h3>Products</h3>

<div class="container-fluid">
    @if(products is null)
    {
        <div class="row">
            <p>No products have been loaded</p>
        </div>
    }
    else
    {
        <div class="row">
            @foreach (var p in products)
            {
                <div class="col-xl-4 col-lg-6 mb-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <a href="">
                                    <img src="https://dummyimage.com/1200x900/000/fff" class="img-fluid" alt="Placeholder Image" />
                                </a>
                                <p class="my-2 text-center">
                                    @p.Description
                                </p>
                                <p class="mb-1">
                                    <strong>
                                        Quantity:
                                    </strong> @p.QuantityInStock
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="h5 mb-3"> @p.ProductName - $@p.RetailPrice</p>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    }
</div>



@code {
    private List<ProductModel> products;

    protected override async Task OnInitializedAsync()
    {
        products = await Prods.GetAll();
    }


}
